@using Kendo.Mvc.UI
@using Kendo.Mvc.UI.Html

@model IEnumerable<WebApp.Models.Product>




@{
    ViewBag.Title = "Product";
}
 

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Product
                <small>Index</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>  @Html.ActionLink("Home", "Index", "Home")
                </li>

                <li class="active">
                    <i class="fa fa-file"></i> Product
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            @(Html.Kendo().Grid<WebApp.Models.Product>()
                      .Name("Product")
      .Columns(columns =>
      {
          columns.Command(command => { command.Edit(); command.Destroy(); });
          columns.Bound(c => c.Name);
          columns.Bound(c => c.Category).ClientTemplate("#=Category.Name#").Width(160).EditorTemplateName("ClientCategory");
          columns.Bound(c => c.StockQty);
          columns.Bound(c => c.Unit);
          columns.Bound(c => c.UnitPrice);
          columns.Bound(c => c.ConfirmDateTime).Format("{0:yyyy/MM/dd}").EditorTemplateName("DateTime"); ; ;


      })
      .ToolBar(toolbar =>
      {
          toolbar.Create();
          toolbar.Excel();

      })


              .ColumnMenu(menu => menu.Filterable(false))
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Pageable()
      .Selectable(selectable =>
      {
          selectable.Mode(GridSelectionMode.Single);
          selectable.Type(GridSelectionType.Row);
      })
      .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Filterable(filterable => filterable.Mode(GridFilterMode.Row))
      .Scrollable()
      .Groupable()
               .HtmlAttributes(new { style = "height:430px;" })
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model =>
          {
              model.Id(p => p.Id);
              model.Field(p => p.Category).DefaultValue(
              ViewData["defaultCategory"] as WebApp.Models.Category);
          }

          )
                  .Read(read => read.Action("Read", "Products"))
          .PageSize(20)
          .Events(events => events.Error("error_handler"))
                          .Create(update => update.Action("Create", "Products"))
                          .Update(update => update.Action("Update", "Products"))
                          .Destroy(update => update.Action("Delete", "Products"))

      )
            )

            <br />

        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        //$(window).resize(function () {
        //    var gridElement = $("#Product"),
        //        newHeight = gridElement.innerHeight(),
        //        otherElements = gridElement.children().not(".k-grid-content"),
        //        otherElementsHeight = 0;

        //    otherElements.each(function () {
        //        otherElementsHeight += $(this).outerHeight() - 100;
        //    });
        //    console.log(otherElementsHeight);
        //    gridElement.children(".k-grid-content").height(newHeight - otherElementsHeight);
        //});

        function error_handler(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                alert(message);
            }
        }
        $(document).ready(function (e) {

        });

    </script>
}

